[Unit]
Description=TLS tunnel for network daemons
After=syslog.target network.target

[Service]
ExecStart=/usr/bin/stunnel
Type=forking
PrivateTmp=true
User=nobody
Group=nobody
RuntimeDirectory=stunnel
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target
