{% extends "base.html" %}
{% block content %}
    <h2 class="page-header">Cache Management</h2>
    {% if version < 311 %} {# Notice for the clusters which doesn't support different caches #}
        <div class="jumbotron">
            <h3>Module not available</h3>
            <p class="text-danger">Cache Management is available only for clusters configured with Gluu Server version 3.1.1 and above.</p>
            <p><a class="btn btn-info" href="#" role="button">Learn more</a></p>
        </div>
    {% else %}
        {% if servers %}
        <table class="table table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <th>Server ID</th>
                    <th>Hostname</th>
                    <th>IP Address</th>
                    <th>Redis Installed</th>
                    <th>
                        Cache Method
                        <button id="refreshBtn" class="btn btn-info btn-xs" data-loading-text="Refreshing ..."><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
                        <a id="changeBtn" class="btn btn-success btn-xs" href="{{ url_for("cache_mgr.change")}}">
                            <span class="glyphicon glyphicon-edit"></span> Setup Redis</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for server in servers %}
                <tr id="server_{{server.id}}">
                    <td class="id">{{server.id}}</td>
                    <td class="hostname">{{server.hostname}}</td>
                    <td class="ip">{{server.ip}}</td>
                    <td class="redis">
                        {% if server.redis %}
                            <span class="glyphicon glyphicon-ok text-success"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove text-danger"></span>
                        {% endif %}
                    </td>
                    <td class="cache_method">{{server.cache_method}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <div class="alert alert-danger" role="alert">
                <p><strong>No Servers</strong> have been added to the Cluster Manager. Kindly go to the dashboard and add the servers.</p>
            </div>
        {% endif %} {# end for "if servers" #}
    {% endif %} {# end for "if version < 311" #}
{% endblock %}
{% block js %}
<script>
    var task_id;
    var timer;
    var refreshBtn = $('#refreshBtn').click(function(){
        $(this).button('loading');
        var url = '{{ url_for("cache_mgr.refresh_methods") }}';
        $.get(url, function(data){
            task_id = data.task_id;
            timer = setInterval(fetchResult, 2000);
        });

    });

    function fetchResult(){
        var url = '{{ url_for("index.get_log", task_id="dummyid")}}';
        url = url.replace("dummyid", task_id);

        $.get(url, function(data){
            if(data.state === "SUCCESS" || data.state === "FAILURE"){
                clearInterval(timer);
                refreshBtn.button('reset');
                var methods = data.result;
                for(var i=0; i < methods.length; i++){
                    $("tr#server_"+methods[i].id+"> td.cache_method").text(methods[i].method);
                }
                // update the user about the backgroud task via notifications
                for( var i=0; i<data.messages.length; i++){
                    if (data.messages[i].level === 'error' || data.messages[i].level === 'fail'){
                        $.notify({message: data.messages[i].msg,},
                                 {type: 'danger', mouse_over: 'pause'});
                    } else {
                        $.notify({message: data.messages[i].msg},
                                 {type: data.messages[i].level, mouse_over: 'pause'})
                    }
                }
            }
        });
    }
</script>
{% endblock %}
