{% extends "base.html" %}
{% from 'macros.html' import cache_process_steps %}
{% block header %}
    <h1>Cache Clustering</h1>
{% endblock %}

{% block content %}
    {{ cache_process_steps(step) }}

    <div id="log_root"></div>

    {% if step == 1 %}
        <a href="{{ url_for('cache_mgr.configure', method=method) }}" class="btn btn-block btn-primary" id="next">
            Configure Cache Cluster</a>
    {% elif step == 2 %}
        <a href="{{ url_for('cache_mgr.finish_clustering', method=method) }}" class="btn btn-block btn-primary" id="next">
            Finish Cache Clustering</a>
    {% elif step == 3 %}
        <div id="next" class="jumbotron" style="display: none;">
            <h3>Redis Cache Setup Complete</h3>
            <p class="text-danger">The setup of a clustered cache using Redis is complete.</p>
            <p><a class="btn btn-info" href="/" role="button">Go to dashboard</a></p>
        </div>
    {% endif %}



{% endblock %}

{% block js %}
    <script>
        document.clustermgr = {};
        document.clustermgr.task_id = "{{ task_id }}";
    </script>
    <script type="text/javascript" src="{{ hashed_url('build/runtime.js') }}"></script>
    <script type="text/javascript" src="{{ hashed_url('build/vendor.js') }}"></script>
    <script type="text/javascript" src="{{ hashed_url('build/main.js') }}"></script>

{% endblock %}
