{% extends "base.html" %}
{% from 'macros.html' import cache_process_steps %}

{% block content %}
    <h2 class="page-header">Cache Clustering</h2>
    {{ cache_process_steps(1) }}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Cluster Method and Servers</h3>
        </div>
        <div class="panel-body">
            <form action="" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <h4>Clustering Method</h4>
                <div class="radio">
                    <label><input type="radio" name="method" id="CLUSTER" value="CLUSTER">
                        CLUSTER<span class="text-muted"> - Uses redis-cluster. redis-cluster handles the load distribution.
                            Recommended for clusters with 3 or more servers. </span>
                    </label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="method" id="SHARDING" value="SHARDING">
                        SHARDING <span class="text-muted"> - Load distribution is handled by oxAuth. Recommended if the number of servers
                        in the cluster changes frequently.</span>
                    </label>
                </div>

                <fieldset>
                    <h4>Servers to form the Cache Cluster</h4>
                    {% for server in servers %}
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="server_{{ server.id }}" name="servers" value={{ server.id }}> {{ server.hostname }}
                            </label>
                        </div>
                    {% endfor %}
                </fieldset>

                <button type="submit" id="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>




{% endblock %}
{% block js %}
{% endblock %}
