{% extends "base.html" %}
{% block content %}
    <h2 class="page-header">Cache Clustering</h2>
    <div class="alert alert-info" role="alert">
      <p>This is page to configure the cache for the entire cluster involving all the servers. If you are looking to configure cache for a single server kindly use the Gluu Server admin interface.</p>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Cache Details</h3>
      </div>
      <div class="panel-body">
      </div>
    </div>
{% endblock %}
{% block js %}
{% endblock %}
