{% extends "base.html" %}
{% from 'macros.html' import render_form %}

{% block header %}
    <h1>File System Replication</h1>
{% endblock %}

{% block  content %}

   Csync2 is a cluster synchronization tool. It can be used to keep files on
   multiple hosts in a cluster in sync. Csync2 can handle complex setups with
   much more than just 2 hosts, handle file deletions and can detect conflicts.
   <br>[<a href="http://oss.linbit.com/csync2/">http://oss.linbit.com/csync2/</a>]
<br>
<br>
<a class="btn btn-success btn-block" href="{{ url_for('index.file_system_replication', install='True') }}">Install File System Replication</a>

{% endblock %}
{% block js %}

{% endblock %}
