{% extends "base.html" %}
{% block header %}
<h1>Gluu Services Status</h1>
  <ol class="breadcrumb">
        <li><i class="fa fa-home"></i> <a href="{{ url_for('index.home') }}">Home</a></li>
        <li><a href="{{ url_for('monitoring.home') }}">Monitoring</a></li>
        <li class="active">Status of Gluu Services</li>
  </ol>
{% endblock %}
{% block content %}


{% if servers %}
<div class="row">
    <div class="col-md-12">
        <div class="box">

            <div class="box-body no-padding">
                <table id="servers" class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Hostname</th>
                        {% for service in services %}
                        <td align="center"><b>{{service}}</b></td>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for server in servers %}
                    <tr>
                        <td>{{server.hostname}}</td>
                        {% for service in services %}
                        <td align="center"> <div  id="{{server.id}}-{{service}}" class="fa"></div></td>
                        {% endfor %}                        
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>

    </div>

</div>
{% endif %}


{% endblock %}

{% block modals %}

{% endblock %}

{% block js %}
<script>

var servers = {{server_id_list|safe}};
var services = {{services|safe}};


function updateStatus() {
    
    $.get("{{request.host_url}}monitoring/serverstat", function(data, status) {
    
    for (var i = 0; i < servers.length; i++) {
        for (var j = 0; j < services.length; j++) {
            var s_element = $('#'+ servers[i]+'-'+services[j]);
            console.log(s_element);
            if (data[servers[i]][services[j]]) {
                s_element.addClass("fa-check");
                s_element.addClass("text-success");
                s_element.removeClass("fa-times");
                s_element.removeClass("text-danger");
            } else {
                s_element.addClass("fa-times");
                s_element.addClass("text-danger");
                s_element.removeClass("fa-check");
                s_element.removeClass("text-success");
               
            }
    
        }
    
    }
    
    });
    
}
    
updateStatus();

setInterval(function() {
      updateStatus();
}, refresh_time*60*1000);

 
</script>
{% endblock %}

