{% extends "base.html" %}

{% block header %}
  <h1>About to NGINX</h1>
{% endblock %}

{% block  content %}

<div class="box box-primary">
    <br>
    <p>You are about to install NGINX on server {{app_conf.nginx_host}} with the following Gluu Servers as backends.</p>
    <br>
    <ul class="list-group">
    {% for s in servers %}
      <li class="list-group-item">{{s.hostname}}</li>
    {%endfor%}
    </ul>
    <br>
    <a href="{{ url_for('loadbalancer.install_nginx', next='install') }}" class="btn btn-block btn-warning">
            Start NGINX Installation </a>
</div>

{% endblock %}
{% block js %}

{% endblock %}
