{% extends "base.html" %}
{% from 'macros.html' import render_form %}
{% block  content %}
<h2 class="page-header">Multi Master Replication</h2>

  {% if ldapservers %}
      <table id="servers" class="table table-bordered">
        <thead>
          <tr>
            <th>Server ID</th>
            <th>Hostname</th>
            <th>IP Address</th>
            <th>Providers</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for server in ldapservers %}
          
          {% if server.id in mmrs %}
          
          <tr>
                <td>{{ server.id }}</td>
                <td>{{ server.fqn_hostname }}</td>
                <td>{{ server.ip_address }}</td>
                <td>
                    {% if server.id in pc %}
                        {% for p in pc[server.id] %}
                            <li>{{p}} {{ id_host_dict[p]}} <a class="btn btn-danger btn-xs" href="{{ url_for('cluster.remove_provider_from_consumer', consumer_id=server.id, provider_id=p) }}">Remove</a></li>
                        {% endfor %}
                    {% endif %}

                    {% if server.initialized %}
                    
                        {% if pca[server.id] %}
                            <a href="#;" data-id="{{server.id}}" class="btn btn-primary btn-single btn-sm showme">Add</a>
                        {% endif %}
                    {% endif %}
                </td>
                <td> 
                    <a class="btn btn-danger btn-xs" href="{{ url_for('cluster.deploy_config', server_id=server.id) }}"> {% if server.initialized %} Re-deploy Configuration {% else %} Deploy Configuration {% endif %}</a>
                    
                    {% if server.initialized %}
                        <br><a class="btn btn-danger btn-xs" href="{{ url_for('cluster.remove_deployment', server_id=server.id) }}"> Remove Deployment</a>
                    {% else %}
                        <a class="btn btn-danger btn-xs" href="{{ url_for('index.remove_multi_master_replicator')}}?server_id={{server.id}}">Remove Master</a>
                    {% endif %}
                    
                </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}

{% if addServerButton %}

    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add Master</button>
{% endif %}

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Select Ldap Server</h4>
        </div>
        <div class="modal-body">
            <form id="ldapserverlist">
                <ul class="list-group">
                {% for server in ldapservers %}
                
                    {% if not server.id in mmrs %}
                
                        <li class="list-group-item"><input type="radio" name="ldapserver" value="{{ server.id }}"> {{server.fqn_hostname}}</input>
                    {% endif %}
                {% endfor %}
                </ul>
            </form>
          
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" onclick="addLdapServer()">Add</button>
        </div>
      </div>
      
    </div>
  </div>
  
  <!-- Modal Begin: Add Provider -->
  <div class="modal fade" id="modal-7" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Select Ldap Server</h4>
        </div>
        <form id="ldapproviderlist">
            <div class="modal-body">
            </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" onclick="addLdapProvider()">Add Provider</button>
        </div>
      </div>
      
    </div>

 <!-- Modal End: Add Provider -->
  

</div>


{% endblock %}
{% block js %}
<script>

function addLdapServer() {
    var form = document.getElementById("ldapserverlist");
    ldapserver=form.elements["ldapserver"].value;
    if (ldapserver) {
        window.location.href = "{{url_for('index.make_multi_master_replicator')}}?server_id=" + form.elements["ldapserver"].value;
    }
}


jQuery(function($){
     $('a.showme').click(function(ev){
         ev.preventDefault();
         consumer_id = $(this).data('id');
         
         var dataDict={ 
                        {% for l in pca %}
                            {% if pca[l] %}
                            '{{l}}' : [
                                {% for i in pca[l] %}
                                    ["{{i}}", "{{id_host_dict[i]}}"],
                                {% endfor %}
                                ],
                            {% endif %}
                        {% endfor %}
             };
         
         var html ='<form id="ldapserverlist"> <ul class="list-group">';
         
         dataDict[consumer_id].forEach(function(entry) {
            html = html + '<li class="list-group-item"> <input type="radio" name="ldapprovider" value="' +  entry[0]  + '"> ' + entry[1] +'</input>';
        });

         $('#modal-7 .modal-body').html(html);
         $('#modal-7').modal('show', {backdrop: 'static'});
         

     });
});
    


function addLdapProvider() {

    var form = document.getElementById("ldapproviderlist");
    var provider_id = form.elements["ldapprovider"].value;
    //Ask Arun: Why there is provider_id if form has only one element although it is not selected?
    if (provider_id) {
        window.location.href = "{{url_for('cluster.add_provider_to_consumer')}}?consumer_id=" + consumer_id +"&provider_id="+provider_id;
    }
}


</script>




{% endblock %}
