{% extends "base.html" %}
{% from 'macros.html' import render_form %}

{% block header %}
    <h1>Multi Master Replication [WrenDS]</h1>
  <ol class="breadcrumb">
    <li><i class="fa fa-home"></i> <a href="{{ url_for('index.home') }}">Home</a></li>
    <li class="active">LDAP Replication</li>
  </ol>
{% endblock %}

{% block  content %}

{% if servers %}
<div class="box">
    <div class="box-body no-padding">
        <table id="servers" class="table table-bordered">
            <thead>
                <tr>
                    <th>Server ID</th>
                    <th>Hostname</th>
                    <th>IP Address</th>
                    <th><center>Replication Status</center></th>
                    <th><center>Server Status</center></th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for server in servers %}
                <tr>
                    <td>{{ server.id }}</td>
                    <td>{{ server.data.hostname }}
                        {% if server.data.primary_server %}
                        <span class="badge bg-green">Primary</span>
                        {% endif %}
                    </td>
                    <td>{{ server.data.ip }}</td>
                    <td><center>
                        {% if not server.data.primary %}
                            {% if server.data.mmr %}
                                Configured
                            {% else %}
                                <p class="text-danger">Not Configured</p>
                            {% endif %}
                        {% endif %}
                        </center>
                    </td>
                    <td><center> <span class="badge" id="ldapstat{{server.id}}"></span> </center></td>
                    <td>
                      {% if not server.data.primary %}
                        <a class="btn btn-primary btn-xs" href="{{ url_for('replication.opendj_enable_replication', server_id=server.id) }}">
                            {% if server.data.mmr %}Re-Enable Replication{%else%}Enable Replication{%endif%}</a>
                        {% if server.data.mmr %}
                        <a class="btn btn-primary btn-xs" href="{{ url_for('replication.opendj_disable_replication', server_id=server.id) }}">Disable Replication</a>
                        {% endif %}
                      {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
     
</div>


<a class="btn btn-success btn-xs" href="#" id="set-password">Settings</a>


<br><br>

<b>Note:</b>Ports 4444 and 8989 should be open to/from among all nodes of cluster pool.



<a class="btn pull-right btn-primary btn-xs" href="{{ url_for('replication.opendj_enable_replication', server_id='all') }}">
        {% if stat %}Re-Deploy All{%else%}Deploy All{%endif%}</a>
<br>

{% endif %}

{% if get_stat %}
  <br>
  <br>
  <label>Replication Status:</label>

  <pre id="replication-status">

  <i class="fa fa-spinner fa-spin" style="font-size: 30px"></i>

  </pre>
{% endif %}


<!-- Set Replication Manager Password Modal Begin-->
<div id="setReplicationPasswordModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
  <form class="form-horizontal" id="set-replication-password-form" action="{{ url_for('replication.mmr_settings') }}" method="POST">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="modal-title">Replication Settings</h4>
      </div>
      <div class="modal-body" id="modal-body">

          <div class="form-group">
            <label class="control-label col-sm-4" for="replication_password">Password:</label>
            <div class="col-sm-8">
            <input type="password" name="replication_password" id="rep-password" {% if replication_pw %} value="{{replication_pw}}" disabled="true" {% endif %}>
            {% if replication_pw %}
            <span id="replication-password-show" class="glyphicon glyphicon-eye-open fa-2x"></span>
            {% endif %}
            </div>
          </div>

          {% if not replication_pw %}
          <div class="form-group">
            <label class="control-label col-sm-4" for="replication_password1">Retype Password:</label>
            <div class="col-sm-8">
            <input type="password" id="rep-password2">
            </div>
          </div>
          {% endif %}
            <div class="form-group">
            <div class="col-sm-4"></div>
            
            <div class="checkbox col-sm-8">
            <label><input name="use_ip" type="checkbox" {% if use_ip %}checked{% endif %}> Use IP address for replication</label>
          </div>

          </div>

      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-default" data-dismiss="modal">Close</a> <a href="#" class="btn btn-primary" id="set-password-button">Save</a>
      </div>
    </div>
    
  </form>
 </div>
</div>
<!-- Set Replication Manager Password Modal End-->


{% endblock %}
{% block js %}

<script>

function showLdapStat() {

{% for server in servers %}

    $.get("{{request.host_url}}server/ldapstat/{{server.id}}/", function(data, status){
        if (data == 1) {
            $("#ldapstat{{server.id}}").addClass("bg-green");
            $("#ldapstat{{server.id}}").removeClass("bg-red");
            $("#ldapstat{{server.id}}").text("Live");
        } else {
            $("#ldapstat{{server.id}}").addClass("bg-red");
            $("#ldapstat{{server.id}}").removeClass("bg-green");
            $("#ldapstat{{server.id}}").text("Down");
        }

    });

{% endfor %}

}

showLdapStat();

setInterval(function() {
    showLdapStat();
}, {% if settings.data.get('service_update_period') %}{{settings.data.service_update_period}}{%else%}300{%endif%}*1000);


$("#set-password").click(function(e){
  $('#setReplicationPasswordModal').modal('show');
});

$("#set-password-button").click(function(e){
  e.preventDefault();
  
  var pw1 = $("#rep-password").val();
  var pw2 = $("#rep-password2").val();
  
  {% if not replication_pw %}
  if ( pw1.length < 5) {
      alert("Password length should be at least 5 characters.");
      return;
  }
  
  if (pw1 != pw2) {
      alert("Passwords do not match.");
      return
  } 
  {% endif %}

  $('#set-replication-password-form').submit();
  
  
});

$("#redis_password").attr("type","password");
var rps = $("#replication-password-show");

rps.click(function(e){
    if (rps.hasClass("glyphicon-eye-close")){
        rps.removeClass("glyphicon-eye-close");
        rps.addClass("glyphicon-eye-open");
        $("#rep-password").attr("type","password");
        }
    else {
        rps.removeClass("glyphicon-eye-open");
        rps.addClass("glyphicon-eye-close");
        $("#rep-password").attr("type","text");
        }
});

{% if get_stat %}

$.get("{{url_for('replication.mmr_replication_status')}}", function( data ) {
  $("#replication-status").text(data);
});

{% endif %}
</script>

{% endblock %}
