{% extends "base.html" %}

{% block header %}
    <h1>{{title}} : {{period}}</h1>
    

{% endblock %}


{% block content %}

{% for p in ['d', 'w', 'm','y'] %}

{% if opt %}
<a href="{{url_for('single_graph',opt=opt, period=p)}}">{{periods[p]}}</a>
{% else %}
<a href="{{url_for('all_ldap', period=p)}}">{{periods[p]}}</a>
{% endif %}

{% endfor %}

<br><br>
<form method="GET">
    Start Date: <input name="startdate" id="datepickers">
    End Date: <input name="enddate" id="datepickere">
<input type="submit" value="show">
</form>
<br>

<hr>

        {% if data[opt].__len__() > 2 %}
            {% for i in range(2, data[opt].__len__()) %}
                {{i}}
            {% endfor %}
        {% endif %}


<hr>

<table>

{% for i in range(0, opt_list.__len__(),2) %}

    <tr>
    {% for j in range(2) %}
        <td><div id="chart_div_{{opt_list[i+j]}}"></div></td>
    
    {% endfor %}
    </tr>
    
{% endfor %}
</table>



{% endblock %}


{% block js %}

<script src="{{ url_for('static', filename='js/gstatic/loader.js') }}"></script>


<script>
  
    google.charts.load('current', {'packages':['corechart']});
    
    
    {% for opt in data  %}
    
    
    google.charts.setOnLoadCallback(drawChart{{opt}});

    function drawChart{{opt}}() {


   
        {% for host in data[opt] %}
        
        var data{{loop.index0}} = new google.visualization.DataTable();
        data{{loop.index0}}.addColumn('datetime', 'Time');
        data{{loop.index0}}.addColumn('number', '{{host}}');
        data{{loop.index0}}.addRows([

            {% for d in data[opt][host] %}
            {{d}}
            {% endfor %}
          ]);
        {% endfor %}
        var options = {
                title: '{{opt.replace('_',' ').title()}}',
                width: {{width}},
                height: {{height}},
                vAxis: { title: '{{options[opt][2]}}' },
                hAxis: { title: 'Time' },
            };

        var joinedData = google.visualization.data.join(data0, data1, 'full', [[0, 0]], [1], [1]);
        
        {% if data[opt].__len__() > 2 %}
            {% for i in range(2, data[opt].__len__()) %}
                var joinedData = google.visualization.data.join(joinedData,
                                                                data{{i}},
                                                                'full', 
                                                                [[0, 0]], 
                                                                [{% for j in range(1,i+1) %}{{j}},{% endfor %}],
                                                                [1]);
            {% endfor %}
        {% endif %}
        var chart = new google.visualization.LineChart(document.getElementById('chart_div_{{opt}}'));
        chart.draw(joinedData, options);

    }

  
    {% endfor %}
  
</script>



<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  
  <script>
  $(document).ready(function() {
    $("#datepickers").datepicker();
    $("#datepickere").datepicker();
  });
  </script>


{% endblock %}











