{% extends "base.html" %}

{% block header %}
    <h1>{{title}} : {{period}}</h1>
    

{% endblock %}


{% block content %}

{% for p in ['d', 'w', 'm','y'] %}

    {% if opt %}
    <a href="{{url_for(group,opt=opt, period=p)}}">{{periods[p]}}</a>
    {% else %}
    <a href="{{url_for(group, period=p)}}">{{periods[p]}}</a>
    {% endif %}

{% endfor %}

<br><br>
<form method="GET">
    Start Date: <input name="startdate" id="datepickers">
    End Date: <input name="enddate" id="datepickere">
<input type="submit" value="show">
</form>
<br>


<table>

{% for i in range(0, data.__len__(),2) %}

    <tr>
    {% for j in range(2) %}
        <td><div id="chart_div_{{i+j}}"></div></td>
    
    {% endfor %}
    </tr>
    
{% endfor %}
</table>



{% endblock %}


{% block js %}

<script src="{{ url_for('static', filename='js/gstatic/loader.js') }}"></script>


<script>
  
    google.charts.load('current', {'packages':['corechart']});
    

    {% for h in data %}
    google.charts.setOnLoadCallback(drawChart{{loop.index0}});
    
      function drawChart{{loop.index0}}() {
        var data = google.visualization.arrayToDataTable([
          ['datetime', {% for l in legends[h] %}'{{l}}',{%endfor%}   ],


           {% for d in data[h][:-1] %}
           {{d.replace('null','0')}}
           {% endfor %}


        ]);

        var options = {
          title: '{{title}} - {{h}}',
          hAxis: {title: 'Time',  titleTextStyle: {color: '#333'}},
          vAxis: {minValue: 0, {% if maxvalue %} maxValue: {{maxvalue}},{% endif %} title: '{{options[opt][2]}}' },
          height: {{height}},
          width: {{width}},

        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div_{{loop.index0}}'));
        chart.draw(data, options);
      }
  
    {% endfor %}
  
</script>



<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  
  <script>
  $(document).ready(function() {
    $("#datepickers").datepicker();
    $("#datepickere").datepicker();
  });
  </script>


{% endblock %}











