{% extends "base.html" %}

{% block header %}
    <h1>{{title}} : {{period}}</h1>
    

{% endblock %}


{% block content %}

{% for p in ['d', 'w', 'm','y'] %}

{% if opt %}
<a href="{{url_for('single_graph',opt=opt, period=p)}}">{{periods[p]}}</a>
{% else %}
<a href="{{url_for('all_ldap', period=p)}}">{{periods[p]}}</a>
{% endif %}

{% endfor %}

<br><br>
<form method="GET">
    Start Date: <input name="startdate" id="datepickers">
    End Date: <input name="enddate" id="datepickere">
<input type="submit" value="show">
</form>
<br>

<table>

{% for i in range(0, opt_list.__len__(),2) %}

    <tr>
    {% for j in range(2) %}
        <td><div id="chart_div_{{opt_list[i+j]}}"></div></td>
    
    {% endfor %}
    </tr>
    
{% endfor %}
</table>

{% endblock %}


{% block js %}

<script src="{{ url_for('static', filename='js/gstatic/loader.js') }}"></script>


<script>
  
    google.charts.load('current', {'packages':['corechart']});
    
    
    {% for opt in data  %}
    
    
    google.charts.setOnLoadCallback(drawChart{{opt}});

    function drawChart{{opt}}() {

        var data = new google.visualization.DataTable();
        data.addColumn('datetime', 'Time of Day');
          
        {% for h in hosts %}
        data.addColumn('number', '{{h}}');
        {% endfor %}


        data.addRows([

            {% for d in data[opt] %}
            {{d}}
            {% endfor %}
          ]);

        var options = {
                title: '{{opt.replace('_',' ').title()}}',
                width: {{width}},
                height: {{height}},
                legend: { position: 'top' },
                vAxis: { title: '{{options[opt][2]}}' },
                hAxis: { title: 'Time' },
            };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div_{{opt}}'));
        chart.draw(data, options);

    }

  
    {% endfor %}
  
</script>



<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  
  <script>
  $(document).ready(function() {
    $("#datepickers").datepicker();
    $("#datepickere").datepicker();
  });
  </script>


{% endblock %}











