{% extends "base.html" %}

{% block header %}
    <h1>LDAP Servers Replication Status</h1>
    

{% endblock %}


{% block content %}

<table class="table table-bordered">
    <tr>
        <td>Hosts</td>
        {% for h in hosts %}<th class="text-center">{{h}}</th>{% endfor %}
    </tr>

   {% for r in reps %}
    {% set rindex =  loop.index0 %}
    <tr>
        <th>{{hosts[loop.index0]}}</th>
        {% for c in r %}
            
            {% if c==None %}
            <td class="success"></td>
            {% else %}
            
                {% if c %}
                <td class="text-center" title="{{hosts[loop.index0]}} is replicated by {{hosts[rindex]}}">
                   
                    <p><span class="glyphicon glyphicon-ok"></span></p>
            
                {% else %}
                    <td class="text-center" title="{{hosts[loop.index0]}} is not replicated by {{hosts[rindex]}}"><p class="text-danger" ><span class="glyphicon glyphicon-remove"></span></p</td>
                {% endif %}
            
            {% endif %}
        
            </td>
        {% endfor %}
    
    </tr>
   
   {% endfor %}

    
    
</table>

{{rep_status}}

{% endblock %}


{% block js %}

{% endblock %}











