#oxauth-servers-container {
    margin-top: 15px;
}

.main-sidebar{
    position: fixed;
    overflow: scroll;
}

body{
    padding-top: 50px;
    padding-left:230px;
}


/*
Logger Styles
 */

.logger {
    width: auto;
    border: 1px solid #444;
    background-color: #444;
}

.log-header {
    color: #e5e5e5;
    padding: 5px;
    margin-bottom: 0;
}

.log-item{
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    border-top: 0.5px solid #555;
    border-bottom: 0.5px solid #444;
    background-color: #222;
}
.log-item:hover {
    background-color: #333;
}
.log-item .command {
    color: #e5e5e5;
    font-size: 12px;
    padding-top: 5px;
    margin-bottom: 0;
    padding-left: 10px;
    border-bottom: 1px solid #333;
}

.log-item .command-fail {
    background-color: #9e1317;
}

.log-item .command .host{
    color: #1fc231;
}

.log-item pre{
    background-color: transparent;
    border: none;
    color: #999999;
    margin: 0;
    padding: 3px 0 3px 30px;
    font-size: 12px;
}

.log-item .msg{
    padding: 5px 0px 5px 0px;
    margin: 0;
    font-size: 12px;
}

.log-item .msg-info{
    color: #31708f;
    background-color: #d9edf7;
}

.log-item .msg-danger, .msg-error, .msg-fail{
    color: #a94442;
    background-color: #f2dede;
}

.log-item .msg-success{
    color: #3c763d;
    background-color: #dff0d8;
}

.log-item .msg-warning{
    color: #8a6d3b;
    background-color: #fcf8e3;
}

.logger-button {
    border: 1px solid #999;
    background-color: transparent;
    color: #999;
    font-size: small;
}
.logger-button:hover {
    background-color: #d9534f;
    color: white;
}
